.logo-container {
    display: flex;
    justify-content: center;
}
.logo {
    z-index: -1;
}
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  }
span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    height: 40px;
}
span:hover {
    background-color: #9e0808;
    color: wheat;
    cursor: pointer;
}
#span1 {
   width: 10%;
   border-right: solid white 1px;

}
#span2 {
    width: 35%;
    border-right: solid white 1px;
}
#span3 {
    width: 20%;  
    border-right: solid white 1px;
}
#span4 {
    width: 25%;
    border-right: solid white 1px;
}
#span5 {
    width: 10%;
}
.menu-container {
    position: absolute;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: left;
    margin-top: -11px;
    height: 40px;
    background:#e80211;
    font-weight: bold;
    text-align: center;
}
.search-bar {
    width: 400px; 
    background-color:white;
    color: #e80211;
    text-align: center;
    border: solid  black 1.5px;
    
}
/* aa */
.dropdown-container {
    background-color: #9e0808;
    color: wheat;
    position: absolute;
    margin-top: 0%;
    width: 100%;
}
.dropdown-header-container {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.dropdown-header {
    text-align: center;
    margin: 0%;
}
.dropdown-container {
    display: none;
    position: absolute;
    width: 100%;
}
.column {
    float: left;
    width:16.4%;
    border-left: solid white ;
}
#column1 {
    border-left: none;
}
.column a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    color:white ;
}
.column a:hover {
    background-color: wheat;
    color: #9e0808;
}
